@{
    ViewBag.Title = "Baoduong";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title> Dịch vụ bảo dưỡng</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Frontend/assets/moto.png" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/Frontend/css/styles.css" rel="stylesheet" />
    @Styles.Render("~/Content/Frontend/css")
    @Scripts.Render("~/bundles/modernizr")


    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- BOXICON -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.3.0-beta.2/css/lightgallery.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
    <link href="~/Content/assets/css/styles.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/swiper.css" rel="stylesheet" />
    <link href="~/Content/assets/css/reset.css" rel="stylesheet" />
    <link href="~/Content/assets/css/taisansapdaugia.css" rel="stylesheet" />
</head>
<body id="page-top">

    <!-- Navigation-->
    <style>
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">Car Care</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#">Bảo dưỡng</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Dịch vụ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Bộ phận bảo dưỡng</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Đội ngũ nhân viên</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    <li style="margin-top: 6px" class="nav-item">@Html.Partial("_LoginPartial")</li>
                    @*<li class="nav-item"><a class="nav-link" href="#"> <i class="fa-solid fa-cart-shopping"></i></a></li>*@
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <section id="detail-link ">
            <div class="container">
                <div class="row product">
                    <div class="col-12">
                        <div class="product-title-start">
                            <i class="bx bxs-circle mr-2"></i>
                            <h3>BẢO DƯỠNG XE MÁY</h3>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="product__name mb-3">
                            <h2>
                                Bảo dưỡng xe máy định kỳ là là quá trình kiểm tra, chăm sóc và thay thế các chi tiết hư hỏng, trục trặc của xe theo chu kỳ đều đặn được hướng dẫn bởi nhà sản xuất. Qua đó, giúp đảm bảo an toàn, trơn tru khi vận hành cũng như tăng tuổi thọ sử dụng của xe máy.


                            </h2>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="slide-for" id="lightgallery">
                            <a class="slide-for-item" href="~/Content/assets/img/1.jpg">
                                <img class="img-fluid "
                                     src="~/Content/assets/img/1.jpg"
                                     alt="" />
                            </a>


                        </div>
                        <div class="bg_slide-nav">
                            <div class="slide-nav">
                                <div class="slide-nav-item">
                                    <div class="slide-nav-item-img">
                                        <img class="img-fluid"
                                             src="~/Content/assets/img/2.png"
                                             alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">

                        <div class="product-content mt-2">
                            <div class="product-bid">
                                <h2>Bảng thông tin chung</h2>
                            </div>
                            <div style="
                height: 717px;
                overflow: auto;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Mục</th>
                                            <th scope="col">Loại xe áp dụng</th>
                                            <th scope="col">Loại dịch vụ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Đường ống xăng</td>
                                            <td>Tất cả</td>
                                            <td>Kiểm tra</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Lưới lọc xăng</td>
                                            <td>Super Dream</td>
                                            <td>Vệ sinh</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Hoạt động tay ga</td>
                                            <td>Tất cả</td>
                                            <td>Kiểm tra</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Bướm gió</td>
                                            <td>Trừ xe tay ga</td>
                                            <td>Kiểm tra</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Lọc gió</td>
                                            <td>Trừ wave alpha</td>
                                            <td>Vệ sinh</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Bugi</td>
                                            <td>Tất cả</td>
                                            <td>Kiểm tra hoặc thay thế</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>Dầu động cơ</td>
                                            <td>Tất cả</td>
                                            <td>Thay thế</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>Dung dịch làm mát</td>
                                            <td>Xe có hệ thống làm mát</td>
                                            <td>Thay thế</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">9</th>
                                            <td>Bình điện</td>
                                            <td>Super Dream</td>
                                            <td>Thay thế</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">10</th>
                                            <td>Hệ thống phanh</td>
                                            <td>Tất cả</td>
                                            <td>Kiểm tra</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">11</th>
                                            <td>Dầu phanh</td>
                                            <td>Xe có phanh đĩa</td>
                                            <td>Kiểm tra</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">12</th>
                                            <td>Hệ thống khóa phanh</td>
                                            <td>Xe có khóa phanh</td>
                                            <td>Kiểm tra</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">13</th>
                                            <td>Giảm xóc</td>
                                            <td>Tất cả</td>
                                            <td>Kiểm tra</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">14</th>
                                            <td>Ốp bi cổ lái</td>
                                            <td>Tất cả</td>
                                            <td>Kiểm tra</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">15</th>
                                            <td>Bánh/lốp xe</td>
                                            <td>Tất cả</td>
                                            <td>Kiểm tra</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="detail-description " style="padding: 0;">
            <div class="container">
                <nav>
                    <div class="nav nav-pills" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active"
                           id="nav-home-tab"
                           data-toggle="tab"
                           href="#nav-home"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true">Lợi ích của bảo dưỡng xe máy</a>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active"
                         id="nav-home"
                         role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        Tăng công suất hoạt động tốt nhất: Bảo dưỡng xe máy đúng định kỳ sẽ giúp xe hoạt động ổn định, tránh tình trạng xe “chết máy” hoặc phát sinh trục trặc khi đang đi đường.
                        Tăng tuổi thọ sử dụng xe: Các hoạt động bảo trì như thay nhớt, bảo dưỡng chế hoà khí, rửa bầu lọc khí, chỉnh chế độ nhiên liệu, vệ sinh bugi, điều chỉnh côn, đổ thêm nước nạp ắc quy giúp làm sạch các cặn bẩn, nấm mốc tích tụ trong động cơ, từ đó góp phần nâng cao hiệu suất vận hành của xe máy.
                    </div>
                </div>
                <div>
                    <div class="slide-for" id="lightgallery">
                        <a class="slide-for-item" href="~/Content/assets/img/3.png">
                            <img style="width:auto;height: auto;"
                                 class="img-fluid "
                                 src="~/Content/assets/img/3.png"
                                 alt="" />
                        </a>
                    </div>
                </div>
        </section>
        <section id="going">
            <div class="container mt-2">
                <div class="going-title">
                    <i class="bx bxs-right-arrow mr-2"></i>
                    <h2>Bảo dưỡng định kỳ:</h3>
                </div>
                <div class="row">
                    <div class="col-4 p-2">
                        <div class="going-item">
                            <div class="going-item-img">
                                <img src="~/Content/assets/img/10.png" class="img-fluid" alt="" />
                                <div class="going__overlay"></div>
                                <div class="going__play">
                                    <a href="#">
                                        <h5>Thời gian bảo dưỡng</h5>
                                        <p>Sau 2.000 - 3.000 Km</p>

                                    </a>
                                </div>
                            </div>

                            <div class="going-content">
                                <p>Dầu nhớt</p>
                                <h3>
                                    Theo thời gian, dầu nhớt trong xe trở nên kém chất lượng, ma sát giảm sút.
                                </h3>

                                <div class="going-starting-price mt-1">
                                    <h4>80.000->250.000đ</h4>
                                </div>
                                <a class="btn btn-sign-up going_btn" href="daunhot.html">
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="going-item">
                            <div class="going-item-img">
                                <img src="~/Content/assets/img/11.png" class="img-fluid" alt="" />
                                <div class="going__overlay"></div>
                                <div class="going__play">
                                    <a href="#">
                                        <h5>Thời gian bảo dưỡng</h5>
                                        <p>Sau 15.000 – 20.000 km</p>

                                    </a>
                                </div>
                            </div>

                            <div class="going-content">
                                <p>Dầu phanh và má phanh</p>
                                <h3>
                                    Má phanh giúp xe giảm tốc độ trong những tình huống cấp bách
                                </h3>

                                <div class="going-starting-price mt-1">
                                    <h4>200.000->450.000đ</h4>
                                </div>
                                <a class="btn btn-sign-up going_btn" href="#">
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </div>   <div class="col-4 p-2">
                        <div class="going-item">
                            <div class="going-item-img">
                                <img src="~/Content/assets/img/12.png" class="img-fluid" alt="" />
                                <div class="going__overlay"></div>
                                <div class="going__play">
                                    <a href="#">
                                        <h5>Thời gian bảo dưỡng</h5>
                                        <p>Sau 10.000 Km</p>

                                    </a>
                                </div>
                            </div>

                            <div class="going-content">
                                <p>Bugi</p>
                                <h3>
                                    Bugi đảm nhận vai trò đốt cháy nhiên liệu, thúc đẩy công suất hoạt động.
                                </h3>

                                <div class="going-starting-price mt-1">
                                    <h4>55.000->200.000đ</h4>
                                </div>
                                <a class="btn btn-sign-up going_btn" href="#">
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </div>   <div class="col-4 p-2">
                        <div class="going-item">
                            <div class="going-item-img">
                                <img src="~/Content/assets/img/13.png" class="img-fluid" alt="" />
                                <div class="going__overlay"></div>
                                <div class="going__play">
                                    <a href="#">
                                        <h5>Thời gian bảo dưỡng</h5>
                                        <p>Sau 10.000 Km</p>

                                    </a>
                                </div>
                            </div>

                            <div class="going-content">
                                <p>Nước làm mát</p>
                                <h3>
                                    Hạn chế quá nhiệt động cơ trong thời tiết nóng bức.
                                </h3>

                                <div class="going-starting-price mt-1">
                                    <h4>50.000->150.000đ</h4>
                                </div>
                                <a class="btn btn-sign-up going_btn" href="#">
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </div>   <div class="col-4 p-2">
                        <div class="going-item">
                            <div class="going-item-img">
                                <img src="~/Content/assets/img/14.png" class="img-fluid" alt="" />
                                <div class="going__overlay"></div>
                                <div class="going__play">
                                    <a href="#">
                                        <h5>Thời gian bảo dưỡng</h5>
                                        <p>Sau 10.000 Km</p>

                                    </a>
                                </div>
                            </div>

                            <div class="going-content">
                                <p>Lọc gió</p>
                                <h3>
                                    Nhiệm vụ là đưa luồng không khí sạch vào khoang nhiên liệu trước khi đốt cháy.
                                </h3>

                                <div class="going-starting-price mt-1">
                                    <h4>40.000->600.000đ</h4>
                                </div>
                                <a class="btn btn-sign-up going_btn" href="#">
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </div>   <div class="col-4 p-2">
                        <div class="going-item">
                            <div class="going-item-img">
                                <img src="~/Content/assets/img/15.png" class="img-fluid" alt="" />
                                <div class="going__overlay"></div>
                                <div class="going__play">
                                    <a href="#">
                                        <h5>Thời gian bảo dưỡng</h5>
                                        <p>Sau 8000 Km</p>

                                    </a>
                                </div>
                            </div>

                            <div class="going-content">
                                <p>Dây cu-roa</p>
                                <h3>
                                    Dây cu – roa là bộ phận truyền động chính của xe, thường xuyên chịu lực căng lớn.
                                </h3>

                                <div class="going-starting-price mt-1">
                                    <h4>350.000->1.000.000đ</h4>
                                </div>
                                <a class="btn btn-sign-up going_btn" href="#">
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Car Care 2022</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
    <!-- begin js danh mục -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.3.0-beta.2/lightgallery.umd.min.js"></script>

    <script type="text/javascript">
        lightGallery(document.getElementById("lightgallery"), {
            speed: 300,
        });
    </script>
    <script>
        $(".slide-for").slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: true,
            centerPadding: "60px",
            arrows: false,
            fade: true,
            asNavFor: ".slide-nav",
        });
        $(".slide-nav").slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: false,
            nextArrow: false,
            asNavFor: ".slide-for",
            dots: false,
            centerMode: false,
            focusOnSelect: true,
            centerPadding: "0px",
            prevArrow: '<i class="bx bx-chevron-left left"></i>',
            nextArrow: '<i class="bx bx-chevron-right right"></i>',
        });
    </script>
    <!-- end js danh mục  -->
    <script src="js/numbertomoney.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/Frontend/js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
