@model DACN_CarCare.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Đăng ký</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Custom Theme files -->
    <link href="~/Content/Frontend/user/register.css" rel="stylesheet" />
</head>
<body>
    <section>
        <!--Bắt Đầu Phần Hình Ảnh-->
        <div class="img-bg">
            <img src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/hinh_anh_minh_hoa.jpg" alt="Hình Ảnh Minh Họa">
        </div>
        <!--Kết Thúc Phần Hình Ảnh-->
        <!--Bắt Đầu Phần Nội Dung-->
        <div class="noi-dung">
            <div class="form">
                <h2>Trang Đăng Ký</h2>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(m => m.Email, new { @class = "input-form", @placeholder = "Email" })
                    <br />
                    <br />
                    @Html.PasswordFor(m => m.Password, new { @class = "input-form", @placeholder = "Password" })
                    <br />
                    <br />
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-form", @placeholder = "Confirm Password" })
                    <input style="margin-top: 30px" type="submit" class="btn btn-default" value="Register">
                    <div style="margin-top:50px">
                        <p>Bạn Đã Có Tài Khoản? <a href="#">@Html.ActionLink("Đăng nhập", "Login")</a></p>
                    </div>
                    
                }

            </div>
        </div>
        <!--Kết Thúc Phần Nội Dung-->
    </section>
    <!-- main -->
    @*<div class="main-w3layouts wrapper">
        <h1>ĐĂNG KÝ</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    <br />
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    <br />
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                    <br />
                    <input type="submit" class="btn btn-default" value="Register">
                }
            </div>
        </div>
    </div>*@
</body>
</html>